*{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background: linear-gradient(to bottom, rgb(248, 162, 176), transparent);
    padding: 20px;
}
table{
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid rgb(214, 68, 117);
    background-color: rgb(247, 204, 211);
}
footer{
    bottom: 0;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(to top, rgb(248, 162, 176), transparent );
}